set colored-stats On
set completion-ignore-case on
set completion-prefix-display-length 3
set editing-mode vi
set keyseq-timeout 0.01
set mark-symlinked-directories On
set show-all-if-unmodified On
set show-mode-in-prompt
set vi-cmd-mode-string "\1\e[1 q\2"
set vi-ins-mode-string "\1\e[5 q\2"
set visible-stats On

"\006": "exec vifm\015" 
"\ep": "brightnessctl -d 'tpacpi::power' set 0; brightnessctl -d 'platform::mute' set 0\015"
Control-a: "exec bash\015"
Control-l: clear-screen
Control-o: menu-complete
