[Unit]
Description=My custom keymap
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/home/humberto/.cargo/bin/xremap /home/humberto/.config/xremap/config.yml

[Install]
WantedBy=multi-user.target

